<div class="container-fluid py">
  <div class="jumbotron text-center">
    <h1 class="pb-5">
      <span translate>Task List Galore</span>
    </h1>
  </div>

  <div class="input-group pb-5 w-50 mx-auto">
    <input type="text" class="form-control" placeholder="Task" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group pb-5 w-50 mx-auto">
    <input type="text" class="form-control" placeholder="Description" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" style="color: white; font-weight: 700;" type="button">
       Add
      </button>
    </div>
  </div>

  <div class="card w-50 mx-auto h3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark border-pink text-white">
          <input type="checkbox" />
          Task
          <button class="btn btn-outline-secondary position-sticky text-white strong" style="left: 100%;" type="button">
            X
           </button>
        </li>
        <li class="list-group-item bg-dark border-pink text-white">
          <input type="checkbox" />
          Task
          <button class="btn btn-outline-secondary position-sticky text-white strong" style="left: 100%;" type="button">
            X
           </button>
        </li>        <li class="list-group-item bg-dark border-pink text-white">
          <input type="checkbox" />
          Task
          <button class="btn btn-outline-secondary position-sticky text-white strong" style="left: 100%;" type="button">
            X
           </button>
        </li>        <li class="list-group-item bg-dark border-pink text-white">
          <input type="checkbox" />
          Task
          <button class="btn btn-outline-secondary position-sticky text-white strong" style="left: 100%;" type="button">
            X
           </button>
        </li>        <li class="list-group-item bg-dark border-pink text-white">
          <input type="checkbox" />
          Task
          <button class="btn btn-outline-secondary position-sticky text-white strong" style="left: 100%;" type="button">
            X
           </button>
        </li>
      </ul>
  </div>
</div>
